body {
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    /* previous one: "Trebuchet MS" */
    margin: 0 auto;
    background-color: #f2f2f2;
    font-size: 13.5pt;
    line-height: 1.5;
    letter-spacing: 0.45px;
}
::selection {
    background-color: black /* #04080a */;
    color: #f2f2f2;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    /* note that a:hover will not affect a.class */
    /* what's more, color of h1 will cover the hover */
    color: #ae7711;
}
p a {
    color: #ae7711;
}
h1 { /* name and section titles on main page */
    font-size: 22pt;
    margin: 0;
    letter-spacing: 0.4px;
}
h2 { /* "More" on main page*/
    margin-top: 2%;
    margin-bottom: 2%;
}
header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0e1a22;
    color: #f2f2f2;
    padding: 15px;
    padding-left: 5%;
    width: "width=device-width";
}
nav a {
    color: #f2f2f2;
    font-size: large;
    text-decoration: none;
    /* padding: 10px 15px; */
}
nav a:hover {
    color: #ae7711
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li a{
    float: right;
    padding: 12px 16px;
}
nav li a:hover{
    color: #ae7711
}
nav li.main{
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    float: inline-start;
    padding: 0;
}
nav li.main a{
    font-weight: bold;
    font-size: 19pt;
    padding-inline-start: 0;
    padding-bottom: 0;
    padding-top: 6px;
}
nav li.section a:hover{
    background-color: #04080a;
}
nav li.resume a:hover{
    background-color: #04080a;
}
main {
    padding-left: 5.2%;
    padding-right: 4.1%;
    display: flex;
    justify-content: center;
}
div.wrapper {
    /* a wrapper is not aligning to the center and limiting the width at the same time */
    padding: 0;
    margin-top: 29px;
    max-width: 808px;
}
span.whisper {
    font-size: small;
    color: #494949;
}
.me img {
    width: 400px;
    max-width: 98%;
    margin-right: 3.2%;
    float: left;
}
.me h1{
    color: black;
    font-size: 33pt;
    margin: 0;
}
.me p{
    color: #494949;
    margin: 0;
}
@media print, screen and (max-width: 653px) {
    .me img {
        width: auto;
        float: left;
        margin-bottom: 1.4%;
        margin: 0;
    }
    .me h1{
        font-size: 39pt;
        margin-bottom: 0;
    }
    nav li.section{
        display: none;
    }
    .section h1{
        margin: 0;
    }
}
.contact{
    color: #494949;
    text-align: right;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 12pt;
    /* margin-top: 1.4%;
    margin-bottom: 3.6%; */
    /* margin-top: 4.1px; */
    margin-bottom: 9px;
    margin-right: 1.9%;
}
/*
img.icon{
    width: 32px;
} */
.main_page_section{
    margin-top: 2%;
}
.main_page_section p{
    color: #494949;
    margin: 0;
}
.more{
    margin-top: 9%;
    font-size: 13.5pt;
    color: #494949;
}
.more ul{
    margin-top: 9px;
    margin-bottom: 0;
}
.intro{
    margin-bottom: 3.6%;
}
.intro p{
    margin-top: 0;
    color: #494949;
}
.intro blockquote{
    margin-top: 0;
    font-size: medium;
    color:#494949;
}
.courses {
    border-color: #04080a;
    border-style: solid;
    border-radius: 9px;
    padding: 12px;
    padding-top: 0;
    margin-bottom: 4.1%;
    max-width: 93%;
}
.courses h2{
    margin: 1.9%;
    margin-top: 12px;
}
.course a{
    text-decoration: underline;
}
.courses .group{
    display: flex;
}
.courses ul{
    margin-top: 0;
    margin-bottom: 2.4%;
    color: #494949;
}
.courses .course-title:hover{
    color: #ae7711;
}
.courses .course-hidden{
    margin-left: 3.2%;
}
.courses .course-hidden p{
    margin: 0;
}
/* .courseth h2 span.time{
    font-size: large;
    float: inline-end;
    padding-block-start: 12px;
    font-weight: normal;
    font-style: italic;
} */
li.course{
    font-size: 12pt;
    line-height: 1.4;
}
li.course a{
    color: #494949;
}
li.course a:hover{
    color: #ae7711;
}
.babbling h2{
    font-size: x-large;
}
.babbling .time{
    text-align: end;
    color: #494949;
    font-size: large;
    margin-top: 3.6%;
    margin-bottom: 4%;
    font-style: italic;
}
.quote{
    text-indent: 4.9%;
    margin-left: 4%;
    color: #494949;
    font-size: large;
    font-style: italic;
}
.from{
    text-align: end;
    color: #494949;
    font-size: large;
    font-style: italic;
    margin-top: 0.9%;
    margin-bottom: 2.4%;
}
.project h2{
    margin-bottom: 0;
}
.project .info{
    font-style: italic;
    font-size: 9pt;
    color: #494949;
    text-align: end;
    margin: 0;
}
.project p{
    color: #494949;
    margin-top: 4px;
}
.acks{
    margin-top: 6%;
}
footer {
    text-align: end;
    padding: 0px;
    margin-top: 9%;
    margin: 4%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    /* position: fixed; */
}
footer p{
    font-size: medium;
}