body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    background-color: #f2f2f2;
}
header{
    background-color: #0e1a22;
    color: #f2f2f2;
    padding: 15px;
    width: "width=device-width";
}
nav{
    color: #f2f2f2;
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    /* previous one: "Trebuchet MS" */
    font-size: large;
}
nav a {
    color: #f2f2f2;
    text-decoration: none;
    /* padding: 10px 15px; */
}
nav a:hover {
    color: #ae7711
}
nav.mainpagenav{
    text-align: inline-end;
    font-family: Trebuchet MS;
}
nav ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
nav li.main{
    float: inline-start;
    font-weight: bold;
    font-size: 13pt;
}
nav li.section a:hover{
    background-color: #04080a;
}
nav li a{
    text-align: middle;
    float: right;
    padding: 12px 16px;
}
/* nav.subpages a{
    font-weight: bold;
} */
main {
    margin-left: 5%;
    margin-right: 1.6%;
    max-width: 850px;
}
.wrapper {
    /* a wrapper is not aligning to the center and limiting the width at the same time */
    display: flex;
    justify-content: center;
}
::selection {
    background-color: #04080a;
    color: #f2f2f2;
}
a {
    color: #ae7711
}
a.selfref{
    color: #04080a;
    text-decoration: none;
}
a.selfref:hover{
    color: #ae7711;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 125%;
    line-height: 1.5;
    letter-spacing: 0.45px;
}
/* .me {
    max-width: 850px;
} */
.me img {
    width: 400px;
    max-width: 96%;
    margin-right: 3.2%;
    float: left;
}
.me h1{
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    font-size: 36pt;
    margin-bottom: 0;
}
.contact{
    color: #505050;
    text-align: end;
    margin-right: 1.6%;
}
img.icon{
    width: 32px;
}
.section {
    /* max-width: 850px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section h1, h2, h3 {
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.4px;
    font-size: xx-large;
}
@media print, screen and (max-width: 653px) {
    .me img {
        width: 400px;
        max-width: 96%;
        float: left;
        margin-bottom: 3.2%;
    }
}

/* footer {
    background-color: #0e1a22;
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
} */